<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-d-flex">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" placeholder="Username" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item> 
    <ion-button (click)="submit()" expand="block"  shape="round">
      Login
    </ion-button>
</ion-content>
